.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#mycanvas
{
    border-width:10px;
    background-color: rgb(248, 244, 244); 
    border-style:ridge;
    border-color: blueviolet;
 
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}

